#setting-error-tgmpa {max-width:100%;display: block;}
.content p img,.content img {max-width: 100%;height: auto;}
.redux-message.is-dismissible {display: none;}
.meminz-ele-attach-thumb {
	max-width: 50px;
	height: auto;
	margin: 3px;
}