a,
a:focus,
a:hover,
a:active,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.selected,
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .dropdown.active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .dropdown.active a:hover,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .dropdown.active a:focus,
.icon-counter:hover,
.social-network a:hover,
.social-network a:focus,
.social-network a:active,
.pe-feature,
.accordion-heading a:hover i,
.wpb_accordion_header a:hover i,
.counter-number,
.pricing-head.popular .pricing-price,
.validation,
.widget_nav_menu > div > ul li a:hover,
.widget_rss > ul li a:hover,
.widget_recent_comments > ul li a:hover,
.widget_recent_entries > ul li a:hover,
.widget_meta > ul li a:hover,
.widget_archive > ul li a:hover,
.widget_pages > ul li a:hover,
.widget_categories > ul li a:hover,
.recent li h6 a:hover,
.pagination > li > a,
.pagination > li > a:hover,
.media h4.media-heading a:hover,
.wpt-tabs > li > a,
.wpt-tabs > li > a:hover,
.wpt_widget_content .tab-content li a:hover,
.meminz_main-nav > li.current-menu-parent > a,
.meminz_main-nav > .open > a.dropdown-toggle,
.meminz_main-nav > .open > a.dropdown-toggle:hover,
.meminz_main-nav > .open > a.dropdown-toggle:focus{
	color:#4c8bc1;
}

/*
Background color
=========================== */
#meminz_submit,
#meminz_submit:hover,
#meminz_submit:focus,
#meminz_submit:active,
#meminz_submit.active,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.subscribe-button,
.navbar-default .navbar-toggle:hover .icon-bar,
.feature-box:hover .pe-feature,
.accordion-heading a i,
.accordion-heading a:hover,
.wpb_accordion_header a:hover,
.wpb_accordion_header a i,
.flex-direction-nav .flex-next:hover,
.flex-direction-nav .flex-prev:hover,
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active,
.pricing-head.popular,
.owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.owl-theme .owl-controls .owl-buttons div.owl-next:hover,
#toTopHover,
.log-tabs li a,
.log-tabs li a:hover,
.log-tabs li a:focus,
.log-tabs li a:active,
.tagcloud a:hover{
	background-color: #4c8bc1;
}
.tagcloud > a:hover{
	text-decoration:none;
	color: #FFFFFF !important;
	background-color: #4c8bc1;
}

/*
Border color
=========================== */
#meminz_submit,
#meminz_submit:hover,
#meminz_submit:focus,
#meminz_submit:active,
#meminz_submit.active,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.selected,
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .dropdown.active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .dropdown.active a:hover,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .dropdown.active a:focus,
.subscribe-button,
.testimoni-avatar:hover,
.icon-counter:hover,
.form-control:focus,
ul.listForm li .form-control:focus,
.navbar-default .navbar-toggle:hover,
.pe-feature,
.accordion-heading a i,
.accordion-heading a:hover,
.wpb_accordion_header a i,
.wpb_accordion_header a:hover,
.tagcloud a:hover,
.meminz_main-nav > li.current-menu-parent > a,
.meminz_main-nav > .open > a.dropdown-toggle,
.meminz_main-nav > .open > a.dropdown-toggle:hover,
.meminz_main-nav > .open > a.dropdown-toggle:focus{
	border-color: #4c8bc1;
}

/*
Color on mobile
=========================== */
@media (max-width: 767px){
	.navbar-default .navbar-nav li a:hover,
	.navbar-default .navbar-nav li a.selected,
	.navbar-default .navbar-nav .active a,
	.navbar-default .navbar-nav .dropdown.active a,
	.navbar-default .navbar-nav .active a:hover,
	.navbar-default .navbar-nav .dropdown.active a:hover,
	.navbar-default .navbar-nav .active a:focus,
	.navbar-default .navbar-nav .dropdown.active a:focus{
		background:#4c8bc1;
		border:1px solid #4c8bc1;
		color:#fff;
	}
}
