

#wrapper{width:98%;margin-top: 15px; border:1px solid #BBBBBB; padding:20px;}
#wrapper ul{list-style:none; margin-left:30%;}
#wrapper ul li a{text-decoration:none; border:1px solid #474747; padding:2px 8px 2px 8px; color:#474747;}
#wrapper ul li{float:left; margin-left:10px;}
