.busHeadSn{
	margin: 0 !important;
	width: 7%;
	word-wrap: break-word;
}
.busHeadLogo{
	margin: 0 !important;
	width: 9%;
	word-wrap: break-word;
}
.busHeadName{
	margin: 0 !important;
	width: 15%;
	word-wrap: break-word;
}
.busHeadEmail{
	margin: 0 !important;
	width: 20%;
	word-wrap: break-word;
}
.busHeadSize{
	margin: 0 !important;
	width: 12%;
	word-wrap: break-word;
}
.busHeadAction{
	margin: 0 !important;
	width: 13%;
	word-wrap: break-word;
}
.remove-logo{
	margin-top:10px;
	border-radius:5px;
	padding:3px 7px;
	background:#000;
	color:#fff;
	cursor:pointer;
}
.updatebusstatus{
	font-size:14px;
	color:green;
	display:none;
}
.menu-checkbox label.checkbox-txt{
	color: #666666;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 13px;
    margin-bottom: 7px;
}
.search-notes{
	font-size:12px;
	color:#ff0000;
	font-family: Verdana,Geneva,Tahoma,sans-serif;
}
.planHeadTitle{
	margin: 0 !important;
	width: 43%;
	word-wrap: break-word;
}
.form-container h5.warning{
	color:red;	
	margin-bottom:12px;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;	
	font-size:14px;
}
.form-container h5.success{
	color:green;	
	margin-bottom:12px;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;	
	font-size:14px;
}
h2.sub-msg{
	color:red;
}
h2.sub-msg a{
	color:#1471B1;
	text-decoration:underline;
}
#sub-msg-div { margin-bottom:50px}
#sub-msg-div h2{
    color: #000000;
    font-size: 17px;
    margin-top: 80px;
    min-height: 100px;
    text-align: center;
}
.account-renewal-date{
	float: left;
	padding-top: 9px;
	text-align: right;
	width: 40%;
	font-family: Arial,Helvetica,sans-serif;
	color: #11719f;
}
.not-found-data{
	text-align:center;
	padding:15px 0;
}
.not-found-data a{
	color:#000000;
}
.not-found-data a:hover{
	color:#11719f;
}
