
.overlay-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}
	.overlay-content {
		background: #fff;
		padding:13px;
		width:240px;
		height:117px;
		position: relative;
		top: 15%;
		left: 0%;
		margin:0 auto;
		cursor: default;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.9);
		text-align:center;
	}
	.overlay-content h1{text-align:center; font-size:20px;}
	.close-btn {
		/*cursor: pointer;
		border: 1px solid #333;
		padding: 2% 5%;
		background: #a9e7f9; /* fallback */
		/*background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
		background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
		border-radius: 4px;
		box-shadow: 0 0 4px rgba(0,0,0,0.3);*/
		
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    top: -12px;
    cursor: pointer;
    float: right;
    height: 30px;
    right: -15px;
    position: absolute;
    width: 30px;
	}
	
 .penContainer{text-align:center;margin:9px 0px 0px 0px; width:100%; float:left;}
 .penContainer span.text{background:none;color:#000000;  float: left;
    padding-left: 26px;
    padding-top: 5px;
    text-align: left;
    width: 45%;}
 .penContainer span.digit{background-color: #FF0000;  border-radius: 5px;  color: #FFFFFF;  padding: 8px 17px; float:left;}
 


