﻿/* ********* The switch css ********** */
.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
/* ********* The switch css ********** */
.dayname-container { float: left; width: 50%; }
.operatinghour-container { float: left; width: 50%; padding-bottom: 16px; }
.operatinghour-from { float: left; }
.operatinghour-to { float: left; }
/* ********* day click pop-up ********** */
.modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal-content { background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; }
.close { color: #aaa; float: right; font-size: 28px; font-weight: bold; }
.close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; }
/* ********* day click pop-up ********** */

.Schedule-outer-block .addNewReport {
    width:  auto;
}
.schedulerightblock {
    float: right;
}
.Schedule-outer-block .dayname-container {
    width: 140px;
    float:  none;
    display:  flex;
    flex-direction:  column;
    padding:  10px;
    background: #f1f1f1;
}

.Schedule-outer-block .operatinghour-container {
    width: calc(100% - 140px);
    display:  flex;
    flex-direction: column;
    padding: 10px;
}

.Schedule-outer-block .calrow {
    width:  100%;
    padding: 0;
    margin-bottom:  10px;
    display:  flex;
    flex-direction: row;
    border: 1px solid #dedede;
    border-radius: 3px;
}
.rowblock-ToFrom{
	width:100%;
	float:left;
}
.Schedule-outer-block .rowblock-ToFrom .operatinghour-from {
    width: auto;
    float:  left;
}

.Schedule-outer-block .rowblock-ToFrom .operatinghour-to {
    width: auto;
    float:  left;
}
.user-entry-block .user-name.label-block-big {
    font-size: 14px;
    font-weight: bold;
}
.user-entry-block .user-name.Schedule-subheading {
    width:  100%;
    font-size: 20px;
    margin: 0px;
}
.modal-content.cal-model {
    max-width: 600px;
    width: 95%;
    padding: 20px 25px 30px;
}
.modal-col-block {
    width: calc(100% / 2 - 5px);
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 17px;
    position: relative;
}
.modal-col-block textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    padding: 9px;color: #000;
    min-height: 102px;
     margin-bottom: 0;
    font-family: sArial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}
.modal-col-block.full-width {
    width: 100%;
    padding-right: 0;
}
.modal-col-block:nth-child(2n) {
	padding-right: 0;
}
.modal-custom h3 {
    color: #585858;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 22px;
}
.modal-col-block span {
    width: 100%;
    display: inline-block;
}
.modal-s-block input:hover {
	background: #11719f;
}
.modal-s-block button#deleteevent{
	background: #7a7a7a;
}
#close1 {
    margin-top: -9px;
}
.modal-s-block input, .modal-s-block button {
    background: #282828;
    color: #fff;
    width: 106px;
    height: 37px;
    text-transform: capitalize;
    border: 0px;
    font-size: 16px;
    cursor:pointer;
    margin-right: 12px;
}
.modal-col-block input, .modal-col-block select {
	font-family: sArial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 35px;
    margin-bottom: 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    background: #fff;
   color: #000;
    margin-top: 3px;
}
.modal-custom *,.row-operate *{
    box-sizing: border-box;
}
body .modal-custom {
	width: 100%;
	top: 0;
}
.ui-menu .ui-menu-item a {
    font-size: 15px;
}
.rowblock-ToFrom.row-operate div input {
    width: 100%;
    height: 38px;
}
.Schedule-outer-block .rowblock-ToFrom.row-operate div {
    width: 50%;
    padding-right: 15px;
    box-sizing: border-box;
}
.row-operate div label.error {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}
.row-operate div {
    position: relative;
    padding-bottom: 13px;
}
.row-operate {
    max-width: 500px;
}
.modal-col-block label.error {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
}
.numbers { display:none; }
#location_selector {
	margin-bottom: 10px;
	width: 20%;
}
.tableservices-outer {
    display: table;
    width: 100%;
}
.tableservices-outer .row {
	width: 100%;
	display: table-row;
}
.tableservices-outer .span4 {
    width: auto !important;
    display: table-cell;
    float: none;
    vertical-align: top;
}
.tableservices-outer .srtcontent{
	padding:10px 5px 2px 5px;
}
.loadingOuter {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	top: 0;
	z-index: 9;
	display:none;
}
.activeUser img{
	display:inline-block;
}
.loadingOuter img {
	width: 80px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.span6{
position:relative
}
.fix-error label.error {
    position: absolute;
    left: 0;
    top: 64px;
}
.ui-menu .ui-menu-item {
    text-align: left !important;
}
.ui-timepicker-standard .ui-state-hover {
    background: #f1f1f1 !important;
    border: none !important;
}
.ui-timepicker{
	padding:0px !important
}
.ui-menu .ui-menu-item a{
	padding: 5px 10px !important;
	border-radius: 0px !important;
}
.fc table td, .fc table th {
    padding: 3px;
    color: #202020;
}
.fc table thead {
    background: #f1f1f1 !important;
}
.schedule-row-outer {
    width:  100%;
    display: inline-block;
    margin-top: 15px;
    border: 1px solid #dedede;
}

.schedule-row {
    width:  100%;
    float:  left;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;
}

.schedule-row:last-child {
    border-bottom:  none;
}

.schedule-row .schedule-heading {
    width:  30%;
    float:  left;
    background:  #f1f1f1;
    display:  inline-block;
    padding: 15px;
    box-sizing:  border-box;
}

.schedule-row .schedule-value {
    box-sizing:  border-box;
    padding:  15px;
    display:  inline-block;
    width: 70%;
}
.view-Schedule-block {
    width:  100%;
    display: inline-block;
}

.view-Schedule-block p {
    font-size:  21px;
    text-transform:  uppercase;
    font-weight:  bold;
    display: inline-block;
    padding: 2px 0px;
}

.view-Schedule-block .view-Schedule-right {
    width:  auto;
    float:  right;
}

.view-Schedule-block .view-Schedule-right button {
    background:  #dedede;
    padding:  7px 17px;
    border:  none;
    text-transform:  capitalize;
    border-radius: 2px;
}
.price-det-iframe .pop-head {
    padding: 14px;
    text-transform: capitalize;
    font-size: 20px;
}
.price-det-iframe .heading-container {
	border-bottom: 1px solid #ccc;padding-bottom: 0;
}
.close-btn-pricing {
    position: absolute;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: -11px;
    text-align: center;
    top: -13px;
    padding: 4px;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}
.price-det-iframe .user-name {
    padding: 0 16px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
}
.maindet-iframe .price-det-iframe .user-name{  
	padding: 0 16px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
    text-transform:none;
}
select#location_selector {
    padding: 10px;
    border: none;
    background: #f1f1f1;
    width: 32%;
}
.fc-row.fc-week.fc-widget-content {
	min-height: 97px !important;
}
.price-det-iframe {
    background: #fff;
    max-width: 440px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 280px;
    border-radius: 4px;
    width: 90%;
}
.maindet-iframe {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0,0,0,0.4);
}
.datacontainer {
	border-bottom: 2px solid #f1f1f1;
	padding: 13px;
}
#view-schedule-content {
	height: 483px;
	overflow-y: scroll;
	min-height: 500px;
	overflow-x: hidden;
}
.service-check-container{ margin: 32px 0 0 0 !important; }
.service-check { float: left; }
.service-check-label { float: right !important; width: 92% !important; margin-top: 4px; }
@media only screen and (max-width: 768px) {
.modal-col-block {
    width: 100%;
    padding-right: 0;
}
}
