* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-outline: none;
	-moz-outline: none;
	outline: none
}
body{
	margin:auto;
}
html {
	scroll-behavior: smooth
}
p{
    color: #000000;
    font-size: 16px;
    line-height: 23px;
}
button,
input[type=button],
input[type=submit],
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
img {
	max-width: 100%
}

ul li,
ol li {
	list-style: none
}
a,
a:hover {
	text-decoration: none;
	cursor: pointer
}
 h1 {
    font-size: 50px;
    color: #1d597e;
}
.la-form-new{
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
    padding: 40px 0;
}
.la-formheader h3 {
    text-transform: uppercase;
    font-size: 27px;
    color: #515151;
    font-weight: bold;
    margin-bottom: 18px;
}
.la-formheader {
    text-align: center;
    margin-bottom: 47px;
    display: inline-block;
    width: 100%;
}
.lasteps {
    font-size: 14px;
    color: #a0a0a0;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 4px 16px;
}
.la-inptype select {
    border: 1px solid #c2c2c2;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    background-image: url(../iframe-img/arr.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 12px center;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 12px;
    font-size: 16px;
    color: #515151;
    font-family: 'Roboto', sans-serif;
}
.la-container {
    max-width: 1081px;
    margin: auto;
    width: 95%;
}
.la-threeinp .la-inptype {
    width: calc(100% / 3 - 39px);
    margin-right: 29px;
    padding-bottom: 16px;
    margin-bottom: 7px;
}
.la-inptype {
    display: inline-block;
    position: relative;
    width: 100%;
}
.la-threeinp .la-inptype:last-child,.la-twoinp .la-seltype:last-child {
    margin-right: 0;
}
.la-inptype label {
    font-size: 12px;
    color: #828282;
    position: absolute;
    top: -6px;
    left: 15px;
    background: #f5f5f5;
    padding: 0 3px;
}
.la-seltype {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.49);
    font-size: 15px;
    padding: 15px 37px 15px 15px;
    color: #282828;
    position: relative;
}
.la-seltype span {
    display: inline-block;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    vertical-align: text-bottom;
}
.la-seltype a {
    position: absolute;
    right: 13px;
    top: 0;
    cursor: pointer;
    bottom: 0;
    margin: auto;
    height: 23px;
}
.la-twoinp .la-seltype {
    width: calc(100% / 2 - 17px);
    display: inline-block;
    margin-right: 29px;
    margin-bottom: 15px;
}
.la-nxt-btn {
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}
.step-3 .la-threeinp {
    padding: 0;
}
.step-3 .la-inptype {
    width: calc(100% / 3 - 23px);
}
.step-3 .full-width-la .la-inptype {
    width: 100%;
}
.la-inptype label.error {
    color: red;
}
.la-inptype input.error, .la-inptype textarea.error {
    border-color: red;
}
.la-nxt-btn input {
    background-color: rgb(54, 54, 54);
    color: #fff;
    height: 42px;
    width: 142px;
    border: 0px;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    background-image: url(../iframe-img/arr-right.svg);
    background-repeat: no-repeat;
     background-position: center right 35px;
    padding: 0 56px 0px 34px;
    cursor: pointer;
}
.la-selectlot ul li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px;
    margin-right: 17px;
    width: calc(100% / 5 - 17px);
}
.la-selectlot ul li a {
    color: #363636;
    font-size: 14px;
    background: #fff;
    padding: 10px;
    display: inline-block;
    border: 1px solid #cccccc;
    width: 100%;
    text-align: center;
    border-radius: 3px;
}
.la-selectlot ul li a.active {
    background: #262626;
    color: #fff;
}
.la-selectlot ul li a.inactive {
    background: #ececec;
    color: #a09e9e;
}
.la-selectlot h4 {
    font-size: 16px;
    color: #363636;
    font-weight: normal;
    margin-bottom: 12px;
}
.la-selectlot ul li:nth-of-type(5n) {
    margin-right: 0;
}
.la-calouter {
    display: inline-block;
    width: 100%;
}
.cal-block {
    display: inline-block;
    vertical-align: top;
}
.la-timeslots {
    display: inline-block;
    width: calc(100% - 359px);
    padding-left: 60px;
}
.la-nxt-btn input.backbtn {
    background-color: #a9a9a9;
    float: left;
    background-image: url(../iframe-img/arrleft.svg);
    background-position: center left 35px;
    padding: 0 34px 0px 56px;
}
.btn-two input.nxtbtn{
float: right;
}
.la-alignheader h3 {
    margin-bottom: 0;
    float: left;
}
.la-alignheader .lasteps {
    float: right;
}
.la-twoinp {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.la-inptype input,.la-inptype textarea{
    border: 1px solid #c2c2c2;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 12px;
    font-size: 16px;
    color: #515151;
    font-family: 'Roboto', sans-serif;
}
.la-inptype textarea {
    height: 100px;
    padding: 12px 12px;
    line-height: 22px;
}
.la-formheader.la-alignheader {
    margin-bottom: 15px;
}
.checkbox-type label:before {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    height: 25px;
    width: 25px;
    border: 1px solid #535353;
}
.checkbox-type label {
    font-size: 14px;
    color: #515151;
    position: relative;
    line-height: 24px;
    padding-left: 40px;
    cursor: pointer;
    display: inline-block;
}
.checkbox-type input:checked ~ label:before {
 background: #535353;  cursor: pointer;
}
.checkbox-type {
    position: relative;
}
.checkbox-type input[type="checkbox"] {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    z-index: 1;
}
.checkbox-type label:after {
  left: 9px;  position: absolute;
  top: 5px;    content: "";
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.thanks-block {
    text-align: center;
}
.thanks-block h3 {
    font-size: 32px;
    color: #515151;
    margin-top: 20px;
}
.thanks-block p {
    font-size: 21px;
    color: #515151;
    margin-top: 10px;
}
.la-threeinp {
    position: relative;
    padding-right: 15px;
}
.icon-container {
    position: absolute;
    right: 0;
    width: 62px;
    top: 7px;
}
.icon-container a {
    background: #383838;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 5px 4px;
    color: #fff;
    margin: 0 3px;
    font-size: 23px;
    line-height: 16px;
}
.icon-container a.remove {
    background: #c82929;
}
.la-twoinp .la-seltype:nth-child(2n) {
    margin-right: 0;
}
.checkbox-type label::after{
	display:none;
}
.checkbox-type input:checked ~ label::after{
	display:block;
}
.checkbox-type label.error {
    color: red;
    margin: 0;
}
.checkbox-type label.error::before, .checkbox-type label.error::after {
	display:none;
}
.ind-appoint label.error {
    order: 2;
}
.ind-appoint {
    display: flex;
    flex-direction: column;
}
.ui-timepicker-duration {
	display: none; 
}
@media screen and (max-width: 1000px) {
.la-timeslots {
    padding-left: 30px;
}
.la-selectlot ul li {
    width: calc(100% / 3 - 7px);margin-right: 6px;
}
.la-selectlot ul li:nth-of-type(3n) {
    margin-right: 0;
}
.la-selectlot ul li:nth-of-type(5n) {
    margin-right: 6px;
}
}
@media screen and (max-width: 768px) {
.la-threeinp .la-inptype {
    width: 100%;  margin-right: 0;
}
.la-twoinp .la-seltype {
    width: 100%;
    margin-right: 0;
    margin-bottom: 23px;
}
.la-nxt-btn {
    margin-top: 20px;
}
.la-form-new {
    padding: 20px 0;
}
.la-twoinp {
    margin-bottom: 0;
}
.la-timeslots {
    padding-left: 0;
    width: 100%;
}
.cal-block {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 500px) {
    .la-formheader h3 {
        font-size: 18px;
    }
    .thanks-block p {
        font-size: 17px;
    }
    .thanks-block img {
        width: 70px;
    }
}
