﻿@font-face {
    font-family: 'antoniobold';
    src: url('../fonts/antonio-bold-webfont.eot');
    src: url('../fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio-bold-webfont.woff2') format('woff2'),
         url('../fonts/antonio-bold-webfont.woff') format('woff'),
         url('../fonts/antonio-bold-webfont.ttf') format('truetype'),
         url('../fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background:f0f0f0;
}
h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding:0;
}
blockquote{ 
	display:block;
	content:""
}
	 
h1 {
	color:#666666;
    font-size:28px;
   
}
h2 {
    font-size: 24px;
    line-height: 30px;
}
h3 {
    color: #FFFFFF;
    font-size: 24px;
    }
h4 {
	color: #FFFFFF;
    font-size: 16px;
    }
 h6 {
    font-weight: 400;
    font-size: 14px;   
}

p {
    color: #404040;
    font-size: 10px;
    }
ul, li {
	margin:0;
	padding:0;
}
a{
    text-decoration: none;
    color:#aab2bd;
    
}
a:hover{
   text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border:none;
    vertical-align: middle;
    font-size: 0;
    
}
a,
.clear {
	clear: both;
}

.container {
    margin: 0 auto;
    width: 950px;
}

.header-top-bar {
	width:100%;
	float:left;
	height:10px;
	background:#000;
	border-bottom:4px solid #cccccc;
}

.admin-login{
	width:100%;
	float:left;
}


.admin-login h6{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	margin-top:15px;
}
.admin-login .signout{
	color:#11719f;
}

.admin-login h6 a{
	color:#282828;
	text-decoration:none;
}

.user-icon{
	background:url('../images/user_icon.png') no-repeat;
	padding:0 0 0 25px;
}

.logo{
	width:100%;
	display:block;
	margin-bottom:25px;
	text-align:center;
	margin-top: 25px;
	float:left;
	
}

.navigation{
	width:100%;
	float:left;
	margin-bottom:25px;
}
.navigation ul{
	list-style:none;
	float:left;
}
.navigation ul li {
  border-right: 1px solid #616060;
  float: left;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
.navigation ul li a {
  background: #282828 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 13px;
  overflow: hidden;
  padding: 12px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 153px;
}
.navigation ul li a:hover{
		
		background: #11719f url('../images/menu-triangle.png') no-repeat center;
}
.navigation ul li span{
	background:url('../images/menu-triangle.png') no-repeat center;
	display:none;
	position:absolute;
	height:10px;
	z-index:111;
	width:100%;
	bottom:-10px;
	
}

.navigation ul li:hover span{
	display:block;
	background-position:center center;
}



.navigation ul li a.active{
		background:#11719f;
}


.triangle{
	width: 0px;
height: 0px;
border-style: solid;
border-width: 15px 15px 0 15px;
border-color: #007bff transparent transparent transparent;

}

.mobile-menu {
	display:none;
}
.form-container {
	width:100%;
	border:20px solid #a3a3a3;
	float:left;
	padding:35px;
	margin-bottom:100px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
.form-container .heading{
	font-size:28px;
	border-bottom:1px dotted #666;
	padding-bottom:10px;
	margin-bottom:30px;
	text-transform: capitalize;
}
.servicenameerr {
  float: left!important;
  width: 100%!important;
}
.heading-container h1.heading {
  font-size: 22px!important;
}
.login-block{
	float:left;
	width:100%;
	}

.login-left{
	width:50%;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	
}
.login-left .form{ 
	padding:0px 30px 30px 0px; 
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
.login-left .usr-name{
	width:100%;
	float:left;
	text-transform:uppercase;
	color:#666;
	font-size:12px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom:7px;
}
.login-left .txt-filed{
	width:98%;
	float:left;
	height:35px;
	color:#333;
	background:#f0f0f0;
	height:30px;
	padding:5px;
	border:1px solid #ccc;
	margin-bottom:12px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.login-left .login-checkbox {
	margin:0;
	padding:0;
	

}
.login-left .login-checkbox-txt {
	color:#666;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:12px;
	display:inline-block;
	padding:0 0 0 7px;

}
.login-btn{
	color:#fff;
	background:#11719f;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 30px;
	font-size:13px;
	font-weight:bold;
	margin-top:30px;
	display:inline-block;
}

.login-right{
	width:50%;
	float:left;
}
.login-right ul.listing{
	float:left;
	list-style:disc;
	padding-top:6px;
	padding-left:50px;
	padding-right:20px;
	
	}
.login-right ul.listing li{
	padding:24px 0 4px 0;
	color:#666;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:14px;

	
	
	}
.footer {
  background: #000 none repeat scroll 0 0;
  float: left;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}

.copyright{
	font-size:13px; color:#6a7796;
	display:block;
}
.err_incorrect
{color: red; font-family: Verdana,Geneva,Tahoma,sans-serif; font-size: 12px; margin-bottom: 10px; margin-top: -18px;
}

.block-main-client #layer1 {
    height: auto;
    max-height: 260px;
}

.span-block-treat{
position:relative;
}
/*******************************dashboard****************************************************************/

.dashboard-block{
	float: left;
    width: 100%;

}
.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
    line-height: 0;
}
.thumbnails:after {
    clear: both;
}
.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
    line-height: 0;
}
.res{
    float: left;
    font-size: 14px;
    margin-top: 18px;
    }
.thumbnails{
	margin-left:-20px;
	list-style:none;
}
.thumbnails li{
	list-style:none;
	float:left;
	margin-bottom:20px;
	margin-left:20px;
}


.span4{
	width:194px;
	float:left;
	
}
.thumbnail{
	border: 0 solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 1;
    padding: 0;
}


.gallery{
	 background:#f5f5f5;
    border: 1px solid #cccccc;
    display: block;
    margin: 0;
    padding: 25px 12px;
    min-height:149px;
    /*transition: all 0.5s ease-in-out 0s;*/
	
}
.gallery:hover{
	 background:#e8e8e8;
    	
}

.gallery p{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:11px;
	color:#666666;
	text-align:center;
	
}

.gallery a img{
	 text-align:center;
	 display:block;
	 margin:0 auto;	
}

.gallery .title{
	color:#11719f;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}
/*.gallery:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
    border-color: #eee;
}
.gallery:hover img {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
*/
.gallery span {
    color: #FFFFFF;
    display: block;
    line-height: 24px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}



/*************************client entry*********************************************/


.user-entry-block{
	float: left;
    width: 100%;

}


.row:before, .row:after {
	content: "";
    display: table;
    line-height: 0;
	
}
.row:after {

	clear: both;
}
.row{
	width:100%;
}

.span6{
	width:44%;
	margin-right:12%;
	float:left;
	margin-bottom:25px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */

}

.search_for_client{
width:95% !important;
}

.span5{
	width:30%;
	margin-right:13%;
	float:left;
	margin-bottom:25px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */

}

.span3{
	width:25%;
	float:left;
	margin-bottom:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */

}

.span12{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.last{
	margin-right:0px;
}
.user-entry-block .user-name {
	color: #666666;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 13px;
    margin-bottom: 7px;
    width: 100%;	
    text-transform: capitalize;
}
.user-entry-block .text-input-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 25px;
    padding: 5px;
    width: 98%;	
    
}

.user-entry-block .text-area-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    padding: 5px;
    width: 98%;	
    
}
.user-entry-block .select-option{

  background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 37px;
    padding: 5px;
    width: 100%;		
}

.user-entry-block .submit-btn{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	background:#11719f;
	padding:10px 30px;
	display:inline-block;
	margin-top:8px;
	cursor:pointer;
}
.user-entry-block .submit-btn:hover{
	background:#2086b7;
}


/******************************************************Medical History**************************************************************/

.medical-history-block {
	float: left;
    width: 100%;
     font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.medical-history-block h2 {
	font-size:20px;
	font-weight:bold;
	color:#666;
	margin-bottom:20px;
	
}
.medical-history-block p{ color:#666;
font-size:13px; font-family:Verdana, Geneva, Tahoma, sans-serif; }
.medical-history-block h6{
	font-size:14px;
	padding:0;
	margin:0 0 10px 0;
	color:#444;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.medical-history-block .user-name {
	color: #666666;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 13px;
    margin-bottom: 7px;
    width: 100%;	
}


#gender {
    width: 49%;
}


.medical-history-block .rightSecton {
    float: right;
    width: 50%;
}

.medical-history-block .rightSecton .floateft {
    float: left;
    width: 50%;
}

.medical-history-block .rightSecton .floatRight {
    float: right;
    width: 50%;
}
.medical-history-block .text-input-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 25px;
    padding: 5px;
    width: 98%;	
    
}

.medical-history-block .text-area-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    padding: 5px;
    width: 98%;	
    
}
.medical-history-block .select-option{

  background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 37px;
    padding: 5px;
    width: 100%;		
}

.medical-history-block .select-txt{
	color:#666;
	font-size:13px;
}

.medical-history-block .radio-fields {
	padding:0 0 0 0;
	margin:0 2px;
}
/**************** Radio style*****/
.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 1px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 1px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

/****************Radio style*****/





.medical-history-block .submit-btn{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	background:#11719f;
	padding:10px 30px;
	display:inline-block;
	margin-top:8px;
}
.medical-history-block .submit-btn:hover{
	background:#2086b7;
}

.medical-condition-txt{
	font-size:13px;
	color:#666;
	width:70%;
	display:inline-block;
}

.text-input-field-6 { background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 25px;
    padding: 5px;
    width: 40%;
}
 .divider-dotted {
	 border-bottom:1px dotted #ccc;
	 width:100%;
	 padding:0;
	 float:left;
	 margin:0 0 10px 0;
 }
 


/******************************************Search for client**************************************************************/

.search-client-block{

float: left;
    width: 100%;
   
}

.consentformagain{ margin: 7px; margin-left:0px;}
.consentformagain > a { color: #000000 !important; }
.consentformagain > a:hover {  color: #000000 !important; text-decoration: underline !important; }

.missingconsent{ color:#ff0000; }

.search-client-block h2 {
	font-size:20px;
	font-weight:bold;
	color:#666;
	margin-bottom:20px;
	
}
.search-client-block p{ 
	color:#666;
	font-size:13px;
	 font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.search-client-block h6{
	font-size:14px;
	padding:0;
	margin:0 0 10px 0;
	color:#444;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.search-client-block h5{
	font-size:16px;
	font-weight:bold;
	padding:0;
	margin:0 0 10px 0;
	color:#444;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.search-client-block .user-name {
	color: #666666;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 13px;
    margin-bottom: 7px;
    width: 100%;	
}
.search-client-block .text-input-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 25px;
    padding: 5px;
    width: 98%;	
    
}

.search-client-block .text-area-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    padding: 5px;
    width: 98%;	
    
}
.search-client-block .select-option{

  background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 37px;
    padding: 5px;
    width: 100%;		
}

.search-client-block .select-txt{
	color:#666;
	font-size:13px;
}
.search-client-block .checkbox-txt {
color:#666;
	font-size:13px;
display:inline-block;
margin:0 10px;
	
}

.search-client-block .radio-fields {
	padding:0 0 0 0;
	margin:0 5px;
}
.treatClient{
	background:#808080 !important;
	cursor: initial !important;
}
.search-client-block .submit-btn{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	background:#11719f;
	padding:10px 25px;
	display:inline-block;
	margin-top:8px;
	cursor: pointer;
}
.search-client-block .submit-btn:hover{
	background:#2086b7;
}

.search-client-block .client-info{
	width:100%;
	float:left;
	background:#dcf4ff;
	border:3px solid #ccc;
	padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */

	
}
.search-client-block .client-info span{
	margin-bottom:7px;
	display:inline-block;
	color:#666;
	font-size:13px;
 	font-family:Verdana, Geneva, Tahoma, sans-serif;
 	cursor: pointer;
}

.search-client-block .client-info .edit-btn{
color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	background:#11719f;
	padding:10px 12px;
	display:inline-block;
	margin-left:8px;
	float:right;
	

	
}
.search-client-block .client-info .edit-btn:hover{
background:#2086b7;

	
}
.text-input-field-3{
	width:30%;
	background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 25px;
    padding: 5px;
    

}

.pricing-calculator-link{
	color:#11719f;
	text-decoration:underline;
	font-size:15px;
	font-weight:bold;
	 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pricing-calculator-link:hover{
	color:#3394c2;
	text-decoration:underline;
}

#layer1 {
   
    width:349px;
    position:absolute;
    margin-top:61px;
}
#emailMsgUpdate
{
float: left;
margin-top: 11px;
}

/***********************************************Search Report*************************************************************/


.search-report-block{

float: left;
    width: 100%;
     font-family:Verdana, Geneva, Tahoma, sans-serif;

	
}


.search-report-block h2 {
	font-size:20px;
	font-weight:bold;
	color:#666;
	margin-bottom:20px;
	
}
.search-report-block p{ 
	color:#666;
	font-size:13px;
	 font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.search-report-block h6{
	font-size:14px;
	padding:0;
	margin:0 0 10px 0;
	color:#444;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.search-report-block h5{
	font-size:16px;
	font-weight:bold;
	padding:0;
	margin:0 0 10px 0;
	color:#444;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.search-report-block .user-name {
	color: #666666;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 13px;
    margin-bottom: 7px;
    width: 100%;
     text-transform: capitalize;	
}
.search-report-block .text-input-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 25px;
    padding: 5px;
    width: 98%;	
    
}

.search-report-block .text-area-field {
	 background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    padding: 5px;
    width: 98%;	
    
}
.search-report-block .select-option{

  background: #F0F0F0;
    border: 1px solid #CCCCCC;
    font-size:13px;
    color: #333333;
    float: left;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    height: 37px;
    padding: 5px;
    width: 100%;		
}

.search-report-block .select-txt{
	color:#666;
	font-size:13px;
}
.search-report-block .checkbox-txt {
color:#666;
	font-size:13px;
display:inline-block;
margin:0 10px;
	
}

.search-report-block .radio-fields {
	padding:0 0 0 0;
	margin:0 5px;
}
.search-report-block .submit-btn{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	background:#11719f;
	padding:10px 25px;
	display:inline-block;
	margin-top:8px;
	cursor: pointer;
	
}
.search-report-block .submit-btn:hover{
	background:#2086b7;
}

#vert
	{
	  padding:10px;
	  border: 0px solid black;
		transform: rotate(270deg);
		transform-origin:22% 578%;
		-ms-transform: rotate(270deg); /* IE 9 */
		-ms-transform-origin:22% 578%; /* IE 9 */
		-webkit-transform: rotate(270deg); /* Opera, Chrome, and Safari */
		-webkit-transform-origin:20% 578%; /* Opera, Chrome, and Safari */
	}
	#vertCover{
		position: relative;
		}


.keyinfo{ width:70%; float:left; padding:7px 0px;}
.datainfo{ width:30%; float:left; color:red; padding:7px 0px;}

.medinfo{ padding:7px 0px;}
.txtfont{ 
    color: #202020 !important;
    font-size: 15px !important;
    padding: 4px 11px;
}

#showPanel > img {
    cursor: pointer;
}

.tech-signature {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  width: 100%;
  display:none;
}

.text-input-dob {
  background: none repeat scroll 0 0 #f0f0f0;
  border: 1px solid #cccccc;
  color: #333333;
  float: left;
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  font-size: 13px;
  height: 25px;
  padding: 5px;
  width: 62%;
}
.ui-datepicker-trigger {
  float: left;
  /*margin-top: 24px;*/
}
.dob .error {
  width: 62%;
}

/**************************new added css(28july)*************************/
#menu > li:last-child {
    border-right: medium none !important;
}
.submenu li {
    border-right: medium none !important;
}
.submenu li {
    margin-bottom: 0 !important;
    border-top: 1px solid #616060;
}
.updprotocolSection
{
width:90%;
}

.updprotocolSection label {
    line-height: 40px;
    width: 30% !important;
}

.updprotocolSection input
{
 width:30% !important;
}
.error.fileupProto
{
	margin-top: 5px;
	width: 50%;
}

.updProtocolDiv .srtHead.srtHeadBorder {
    width: 15%;
}

.updProtocolDiv .srtHead {
    margin: 0 !important;
    width: 17%;
    word-wrap: break-word;
}

.updProtocolDiv .srtHead.srtcontent {
  margin: 0 !important;
  width: 15%;
  word-wrap: break-word;
}
.span3.srtHead.snfiled {
    width: 8%;
}
.span6.right-margin-6.updprotocolSection {
    height: 68px;
    margin-bottom: 0;
}

.helptext {
    float: left;
    font-size: 11px;
    line-height: 33px;
    margin-left: 10px !important;
}
.submenu {
    position: absolute;
	width: 154px !important;
}

.cursorPointer {
    cursor: pointer !important;
}
.protocolTab .slicknav_item:hover{ background: #11719f none repeat scroll 0 0; margin:0px;}
.protocolTab .slicknav_item{ padding-left: 10px !important;}
.protocolTabula {
    margin: 0 !important;
    padding: 0 !important;
}
.span12 .error.ermsg.mederr {
    width: 85%;
}
#GenderMsg
{
text-align: right;
}

input.error[type="checkbox"] {
    width: auto !important;
}

#ManageLocationFrom label.error {
  width: 100% !important;
}
.leftblocklocation
{
float:left;
width:50%;
}
.leftblocklocation .span6 {
    width: 100%;
}

.rightblocklocation {
    float: right;
    width: 45%;
}


.rightblocklocation .user-name {
    font-weight: bold;
}

.rightblocklocation .span3 {
    width: 100%;
}

#user2 {
    margin-top: 13px !important;
}
.user-block-search .row.search {
  margin-left: 0;
  width: 100%;
  text-align: right;
}
.user-block-search .span6 {
  float: unset;
  display: inline-block;
  margin-left: 20px!important;
}
.user-block-search.user-entry-block .text-input-field {
  float: unset;
  width: 100%;
}
#suggestSearch .suggest_link_over {
  border-bottom: 0px !important; height: auto!important;
}
.search-client-block .suggest_link,.search-client-block .small {
  height: auto !important;
  color: rgba(0,0,0,0.66);
}
.outer-inptbox {
  float: left;
  width: 100%;
}
#ManageLocationFrom .outer-inptbox .error {
  width: auto !important;
}
.user-entry-block.user-block-price .span6 {
  margin-left: 0 !important;width: 49%;
}
.user-entry-block.user-block-price .span6:nth-of-type(2n) {
  float: right;
}
.notcoming-span {
  padding-left: 34px;
  position: relative;
}
.notcoming-span .largerCheckbox {
  left: 0;
  position: absolute;
  top: 0;
}
.blist-span {
  float: left;
  position: relative;
  width: 100%;
  padding-left: 12px;
}
.blist-span > input {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}
.search-client-block.block-main-client .txtfont{
  margin-bottom:0px;
}
.content-main-row .span6.last {
  width: auto;
}
.user-block-last #resultClientSerch {
  height: 300px;
  overflow: auto;
}
.overlay-content-pricing-outer {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.898);
  cursor: default;
  height: 430px;
  left: 0;
  margin: auto;
  padding: 12px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 620px;
}
.pop-head {
  font-size: 23px;
  padding-bottom: 12px;
  color: #666666;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.overlay-content-pricing-outer form {
  height: 430px;
  overflow: auto;
  padding: 0 24px;
}
.overlay-pricing-edit{
  height: 320px;
}
.overlay-pricing-edit form{
  height: 320px;
}
.overlay-content-pricing-outer .heading-container {
  margin-bottom: 15px;
}
.friendShopNamelevel
{
height:15px;
}
/**************************new added css(28july)*************************/
.user-name-small
{
 text-transform: none !important;
}
#conset_massage
{
float:right !important;;
}
#conset_Docmassage
{
float:right !important;
}
.submtbutAdd
{
width: 15% !important;
}
.update_comment {
  display: inline-block;
}

.srtHeadEdit.srtcontent .user-name p {
  float: left;
  font-size: 13px;
  width: 71%;
}
.user-name.update-lost-status textarea {
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  font-size: 13px;
  padding: 2px 5px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 0;
  height: 71px;
  display: inline-block;
	background: #000;
	color: #fff;
  
}
.user-name.update-lost-status select option {
  text-transform: initial !important;
}
/*******************Subscription new css******************/
.SubscriptionBlock {
    background: rgba(255, 0, 0, 0.1) none repeat scroll 0 0;
    border: 1px solid rgb(255, 0, 0);
    box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
    padding: 11px 15px;
    width: 100%;
}
.SubscriptionBlock p {
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
.SubscriptionBlock p a {
    color: rgb(17, 113, 159);
    font-weight: bold;
}
.SubscriptionBlock p b {
    color: rgb(255, 0, 0);
}
/*******************Subscription new css end******************/
.span3.srtHeadEdit.srtHeadBorder.sno, .span3.srtHead.srtcontent.sno {
	width: 7%;
}
/*
.span3.srtHeadEdit.srtHeadBorder.emailheader { width:39%; }
.span3.srtHeadEdit.srtHeadBorder.phoneheader { width:15%; }
.span3.srtHeadloc.srtHeadBorder.locheader { width:12%; }
*/

.locationclient .spanloc { width: 25%; margin: 2%; float: left; margin-bottom: 25px; box-sizing: border-box; -moz-box-sizing: border-box; }
.spanloc .user-name { color: #666666; }
.spanloc .select-option{ background: #F0F0F0; border: 1px solid #CCCCCC; font-size:13px; color: #333333; float: left; font-family: Verdana,Geneva,Tahoma,sans-serif; height: 37px; padding: 5px; width: 100%; }
.spanloc .submit-btn { color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-align: center; background: #11719f; padding: 10px 30px; display: inline-block; margin-top: 18px; cursor: pointer; }
.spanloc .submit-btn:hover{ background:#2086b7; }
.spanloc .nolocation { margin-top: 27px; color: red; }

.heading-container .spanloc { width: 13%; float: right;}
.heading-container .spanloc .submit-btn { color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-align: center;  background: #11719f; padding: 10px 30px; display: inline-block; cursor: pointer;margin-top:0px; }
.heading-container .spanloc .submit-btn a{ color: #fff; }
.heading-container .spanloc .submit-btn:hover{ background:#2086b7; }

.locationclientcontainer .span4.srtHeadEdit.srtHeadBorder.sno { width: 7%; text-align: center;}
.locationclientcontainer .span4.srtHead.srtcontent.sno { width: 8%; text-align: center; }
.locationclientcontainer .span4.srtHead.srtHeadBorder { text-align: center; } 
.locationclientcontainer .span4.srtHead.srtcontent { text-align: center; width: 18%; }

.locationclientcontainer .span4.srtHeadEdit.srtHeadBorder.emailheader { width: 30%; text-align: center;}
.locationclientcontainer .span4.srtHeadEdit.srtcontent.emailheader{ width: 33%;  text-align: center; }

.locationclientcontainer .span4.srtHeadEdit.srtHeadBorder.phoneheader { width: 19%; text-align: center;}
.locationclientcontainer .span4.srtHeadEdit.srtcontent.phoneheader { width: 19%; text-align: center; }
#TattooAge{ width: 30%; float: right; }
.inputcheck-right { width: 30%; float: right; }
.medical-history-block .inputcheck-right input.radio-fields,.medical-history-block .inputcheck-right span{ display:inline-block; vertical-align:middle; margin-bottom:8px; }
.tatto-color { display: inline-block; }
.edit-employe .empHeadReport {    width: auto;}
.edit-employe .edit-emp-link {    float: right;    font-size: 14px;    padding: 7px 0;}
/*************** March 15 2019 *********************************/
/*
span.signvalue { text-transform: initial; }
*/
/**************************************************************/
/**************************media queries*****************************************************************/
@media screen and (max-width:969px){


.container { 
	width:auto;
 	margin:0 20px;
 }
 .span4{ width:194px;
}

.navigation ul li a{
 
 	padding:11px 5px 11px 6px;
 	font-size:13px;
 }
.tablebusinner {
  width: 930px;
}
.tablebushead {
  float: left;
  overflow: auto;
  width: 100%;
}
.outer-inptbox .devicename {
  color: #666666;
  display: inline-block;
  float: unset;
  font-size: 13px;
  line-height: 20px;
  vertical-align: top;
  width: 87%;
}
.user-entry-main .menu-checkbox {
  width: 33%;
}
.refer-src-block.referral-source-search div.search-clear {
  margin-top: 0;
  float: left;
  width: 100%;
  text-align: right;
  margin-bottom: 19px;
}
}

@media screen and (max-width:800px){

.logo{
	margin-bottom:50px;
}
.login-right ul.listing li{
	padding:15px 0 0 0;
}

.span4{ width:46%;}

.navigation ul li a{
 
 	padding:11px 6px 11px 7px;
 	font-size:12px;
 }

.medical-condition-txt {
	width:100%;
}
.inputcheck-right { width: 100%;  float: left;  }
#TattooAge {  width: 50%; float: left; }
}

@media screen and (max-width:768px){

.form-container {
	margin-bottom:75px;
}

.span4{ 
width:45%;
}

.navigation ul li a{
 
 	padding:11px 6px 11px 7px;
 	font-size:12px;
 }
 
 #vert
	{
	  padding:10px;
	  border: 0px solid black;
		transform: rotate(270deg);
		transform-origin:30% 578%;
		-ms-transform: rotate(270deg); /* IE 9 */
		-ms-transform-origin:22% 578%; /* IE 9 */
		-webkit-transform: rotate(270deg); /* Opera, Chrome, and Safari */
		-webkit-transform-origin:28% 578%; /* Opera, Chrome, and Safari */
	}
	#vertCover{	position: relative;	}
.user-entry-main .menu-checkbox {
  width: 50%;
}
.refer-src-block.user-entry-block .text-input-field {
  width: 47%!important;
  margin: 0;
}
.refer-src-block.user-entry-block .select-option {
  width: 49%!important;
  margin:12px 0 0;
}
.refer-src-block.user-entry-block .text-input-field:nth-of-type(2n) {
  float: right;
}
.overlay-content-pricing-outer {
  width: 90%;
}
}
@media screen and (max-width:640px){

.medical-condition-txt {
	width:100%;
}


}

@media screen and (max-width:600px){
.navigation {
	display:none;
}
.mobile-menu {
float:right;
	display:block;
	margin-bottom:25px;
}

.span4{ width:100%;
		float:left;}
		.thumbnails li{
	
	float:none;
	margin-left:0;
	}
	.thumbnails{
	margin-left:0px;
	
}


.login-left {
	width:100%;
}
.login-right {
	width:100%;
}
.login-right ul.listing {
	padding-left:0px;
	padding-top:20px;
}
.login-right ul.listing li{
	padding:10px 0;
}

/******************************** 26-Aug 2014*****/
.span6 { width:100%; }
.lnTab { width:100%;}
.span3{ width:100%;}
/** **** end  26-Aug 2014*****/
.leftblocklocation,.rightblocklocation {
  width: 100%;
}
.treatment-post .span3 {
  text-align: left!important;
  margin-bottom: 0px;
}
#horizontalTab .treatment-post .span6 {
  width: 100% !important;
  margin-left: 0px;
  margin-top: 0px;
}
.updprotocolSection-row .updprotocolSection label{
  width: 100%!important;
}
.updprotocolSection-row .span6.right-margin-6.updprotocolSection {
  height: auto;
}
.user-entry-block .right-margin-new .user-name {
  width: 100%;
}
.right-margin-new .mce-tinymce.mce-container.mce-panel {
  width: 100%!important;
}
#imageloadbutton > input {
  width: 100%;
}
.dot-span {
  display: none;
}
.content-main-row .span6 {
  width: 100%!important;
  margin:0!important;
  line-height: normal;
}
.content-main-row .row.treatment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 4px;
}
.search-report-block .content-main-row .user-name {
  margin-bottom: 3px;
}
.form-container {
	padding:15px;
	margin-bottom:50px;
}
.user-block-last #resultClientSerch {
  width: 100%;
}
.user-block-last {
  position: relative;
}
.pop-head {
  font-size: 16px;
  padding-bottom: 0;
}

}


@media screen and (max-width:568px){

	.span6{
	width:100%;
}
.span3{
	width:100%;
}
.user-block-search .span6 {
  margin-left: 0 !important;
  width: 100%!important;
  margin-bottom: 12px;
}
.tablebushead {
  margin-top: 12px;
}
.user-block-search.user-entry-block .text-input-field {
  width: 95%;
}
.form-container .heading {
  font-size: 21px;
  width: 100%!important;
}
.addNew,.addReportemp {
  padding-top: 0!important;
  width: 100%!important;
  padding-bottom: 9px;
}
.user-entry-block.user-block-price .span6,.user-block-span{
  width: 100%;
}
.user-entry-block .text-input-field {
  padding: 5px 0 5px 5px;
}
.hair-span {
  margin-left: 0px!important;
}
body .modal {
	top: 10%;
	max-width: 560px;
	width: 90%;
	left: 0;
	right: 0;
	margin: auto;
}
}


@media screen and (max-width:480px){

.login-right ul.listing {
	padding-left:10px;
}
.user-entry-main .menu-checkbox {
  width: 100%;
}
.refer-src-block.user-entry-block .text-input-field {
  float: left !important;
  margin: 12px 0 0;
  width: 97% !important;
}
.refer-src-block.user-entry-block .select-option {
  margin: 12px 0 ;
  width: 99% !important;
}
.user-serch-refer{
 overflow: auto;
}
.search-tabular.user-serch-refer table {
  width: 400px;
}
}

@media screen and (max-width:340px){
.block-main-client #layer1 { margin-top: 74px;
}
#TattooAge {  width: 100%; }
}
@media screen and (max-width:320px){
.logo{
	margin-bottom:40px;
}



.login-right ul.listing {
	padding-top:5px;
}

#vert
	{
	  padding:10px;
	  border: 0px solid black;
		transform: rotate(270deg);
		transform-origin:78% 490%;
		-ms-transform: rotate(270deg); /* IE 9 */
		-ms-transform-origin:76% 490%; /* IE 9 */
		-webkit-transform: rotate(270deg); /* Opera, Chrome, and Safari */
		-webkit-transform-origin:76% 490%; /* Opera, Chrome, and Safari */
	}
	#vertCover{	position: relative;margin-left:20px;	}
	.empHeadReport{width:100%!important;}
	.addNewReport{width:100%!important; text-align: left !important;}
	.x-axisBottom{margin-bottom:15px!important;}
#TattooAge {  width: 100%; }
}
@media screen and (max-width:360px){
#vert
	{
	  padding:10px;
	  border: 0px solid black;
		transform: rotate(270deg);
		transform-origin:78% 490%;
		-ms-transform: rotate(270deg); /* IE 9 */
		-ms-transform-origin:76% 490%; /* IE 9 */
		-webkit-transform: rotate(270deg); /* Opera, Chrome, and Safari */
		-webkit-transform-origin:76% 490%; /* Opera, Chrome, and Safari */
	}
	#vertCover{	position: relative;margin-left:20px;	}
	.empHeadReport{width:100%!important;}
	.addNewReport{width:100%!important; text-align: left !important;}
	.x-axisBottom{margin-bottom:15px!important;}
	#TattooAge {  width: 100%; }	
}


#prices{
width: 104%;
float:left;
padding:0px;
}
.price_back{
background:#dcf4ff;
border:3px solid #ccc;
box-sizing:border-box;
-moz-box-sizing:border-box;
padding:15px;
}


.u_mess {
  color: green;
  float: left;
  font-size: 14px;
  padding-left: 12px;
  width: auto;
  position: relative;
  top: 21px;
}
.u_p{
float: left;
}


input[type="checkbox"].largerCheckbox {
  -moz-appearance: none;
  width: 20px;
  height:20px;
}



/*********************Mobile menu***/

.slicknav_menu {
	display:none;
}

/*************************plan start**************************/

.form-container2{
	background-color:#f1f1f1;
}
.form-container2 p{
	float:left; width:100%; font-size:14px; color:#555555;
}
.plan-ul-outer{
	float:left; width:100%;
}
.plan-ul-outer ul{
	float:left; width:100%; text-align:center; margin-top: 30px;
}
.plan-ul-outer ul li{
	display:inline-block; width:160px; border-radius:15px; overflow:hidden; background-color:#fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); margin: 0 6px; margin-bottom:10px;
}
.plan-top{
	float:left; width:100%; height:auto; background-color:#11719f; margin-bottom: 16px;
}
.plan-top h4{
	float:left; width:100%; color:#fff; text-align:center; text-transform:uppercase; font-size:12px; text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
	padding: 14px 0px; box-sizing:border-box; -moz-box-sizing:border-box;
}
.plan-rate {
    border: 3px solid #e1dfe4;
    border-radius: 50%;
    display: table;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    width: 90px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b567a+0,11719f+100 */
background: #0b567a; /* Old browsers */
background: -moz-linear-gradient(top, #0b567a 0%, #11719f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0b567a 0%,#11719f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0b567a 0%,#11719f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b567a', endColorstr='#11719f',GradientType=0 ); /* IE6-9 */
}
.plan-rate h5 {
	float: left;	width: 100%;	text-align: center;	font-size: 34px;	color: #fff;	text-transform: uppercase;	text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);	font-family: 'antoniobold';	margin-top: 15px;
}
.plan-rate h5 span {
	font-size: 18px;
	display: block;
}
.days{
	float:left; width:100%; text-align:center;  font-size:14px; color:#666666; margin-top: 9px;
}
.days span{
	font-size:17px; font-weight: 700;
}
.plan-btn{
	float:left; width:100%; text-align:center; margin-bottom: 17px;
    margin-top: 12px;
}
.plan-btn button{
	display:inline-block; border-radius:5px; border:1px solid #11719f; padding:7px 17px; font-size:12px; color:#fff; text-transform:uppercase; font-weight:600; cursor:pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11719f+0,0b567a+100 */
background: #11719f; /* Old browsers */
background: -moz-linear-gradient(top, #11719f 0%, #0b567a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #11719f 0%,#0b567a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #11719f 0%,#0b567a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11719f', endColorstr='#0b567a',GradientType=0 ); /* IE6-9 */
}
.form-container2{
	padding: 35px 15px;
}

@media screen and (max-width:600px) {
	.js #menu {
		display:none;
	}
	
	 .slicknav_menu {
		display:block;
	}
	
	.empHeadReport{width:100%!important;}
	.addNewReport{width:100%!important; text-align: left !important;}
	.x-axisBottom{margin-bottom:15px!important;}
	.block-main-client #layer1 {
  width: 94%;
}
.search-client-block.block-main-client .user-name {
  font-size: 11px;
}
.block-main-client .txtfont {
  font-size: 14px !important;
  padding: 4px 11px;
  vertical-align: middle;
  width: 75%;
}
.search-client-block.block-main-client .client-info {
  margin-bottom: 20px;
}
#toPopup {
  border: 6px solid #000!important;
}
#treatmentsResult > h1 {
  font-size: 18px;
  padding: 12px 2px;
}
.heading-container {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
}
