body{
	color: #202020;
}
a, a:visited{
	color:#00000;
	text-decoration:none;
}
input{
	border:1px solid #c3d7db;
}
select{
	border:1px solid #c3d7db;
}
#header h2{
	color:#FFF;
}
#content{
	background:#FFF;
}
#sidebar{
	background:#FFF;
}
#sidebar h3{
	background:#91BDE1;
	border-bottom:1px solid #c3d7db;
}
#topmenu a,#topmenu a:visited{
	color:#FFF;
	background:#91BDE1;
}
#topmenu a:hover{
	color: #294145;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	color:#00356A;
	background: #FFF url(../images/bg_menu_mix.jpg) repeat-x top;
	border-left: #FFF 1px solid;
	border-right: #FFF 1px solid;
}
#top-panel{
	background:#FFF;
}
table{
	background:none;
}
td, th{
	border:1px solid #91BDE1;
	color:#05477B;
} 
thead{
	 background:#d9eaed;
}
table .datepickerViewDays thead{ background:none!important;}
#styleswitcher{
	background:#FFFFFF;
}
#footer
{
	background:#FFF;
}
#box{
	border:1px solid #c3d7db;
}
#box h3{
	background:#91BDE1;
	border-bottom:1px solid #c3d7db;
	color:#294145;
}
/***************
	  Forms
***************/
form#form fieldset {
	border:1px solid #c3d7db ;
}
form#form legend {
	border:1px solid #c3d7db;
	background:#fff url(../images/form_mix.gif) repeat-x center left;
	color:#294145;
}
form#form input {
	border:1px solid #c3d7db;
	background:#fff url(../images/form_mix.gif) repeat-x top left;
}
form#form textarea {
	border:1px solid #c3d7db;
	background:#fff url(../images/form_mix.gif) repeat-x bottom left;
}
form#form option {
	background:#FFF;
}
form#form optgroup {
	background:#c3d7db;
}
form#form optgroup option {

}
form#form #button1, form#form #button2 {
	color:#294145;
}
form#form #button1:hover, form#form #button2:hover {
	color:#000;
}
/***************
	Home
***************/
#infobox{
	border:1px solid #c3d7db;
}
#infobox h3{
	background:#d9eaed;
	border-bottom:1px solid #c3d7db;
	color:#294145;
}
#rightnow {
	border:1px solid #c3d7db;
}
#rightnow .reallynow {
	background:#d9eaed;
	color:#294145;
}
#rightnow h3{
	background:#d9eaed;
	border-bottom:1px solid #c3d7db;
}
.error{
	color:red;
	float:left;
	font-family:Verdana,Geneva,Tahoma,sans-serif;
	font-size:12px;
	margin-bottom: 5px;
	width:100%;
	
}
/************************* new  css   ***************************/
/************************* new  css *****************************/
/************************* new  css *****************************/
.ermsg{
text-align:right;
}
.suggest_link_over{
border-bottom:1px solid #ccc;
cursor:pointer;

height:24px;

}
.suggest_link{

height:25px;
}

.treatment{ }
.treatment .span6{margin:6px 6px 3px 37px; }
.bgdata{ background:none repeat scroll 0 0 #F0F0F0; }
.bgnone:hover{background:none repeat scroll 0 0 #B6C6D7;}
.bgdata:hover{background:none repeat scroll 0 0 #B6C6D7;}

.bgdata1{ background:none repeat scroll 0 0 #F0F0F0; }
.bgnone1:hover{background:none repeat scroll 0 0 #B6C6D7; cursor:pointer!important;color:#FFFFFF;}
.bgdata1:hover{background:none repeat scroll 0 0 #B6C6D7;cursor:pointer!mportant;color:#FFFFFF;}

.bgbg{background:none repeat scroll 0 0 #F0F0EB;margin-top:1px;margin-bottom:1px;}
.bgbg:hover{background:none repeat scroll 0 0 #ccc;}

h6.priorheading{font-weight: bold; color: #11719F;   cursor: pointer; }
h6.priorheading:hover{text-decoration:underline; font-weight: bold; cursor: pointer; }
#treatmentsResult{border:1px solid #cccccc;margin-bottom:1px;}
#TextBoxesGroup div{float: left;  padding-bottom: 9px; width: 100%;}
.addMoreBtn{/*float:left;width:100%;text-align:center;*/}
.preViewImg{overflow:hidden; margin-bottom:5px;padding-top:9px; }
.imgupload{float:left;padding:3px 10px 4px 0;position:relative; margin-right:12px;}
.fluenceTxt{border-top:1px dotted #ccc; padding-top:20px;}

.dropCover{border-top:1px dotted #ccc; padding:11px 0 1px 1px;  position: relative; }

.placeholderInt{color:red;}
.wave{border-top:0px dotted #ccc; padding-top:0px;}
.spot{ margin-bottom: 9px;}
.bottomBorder{border-bottom: 1px dotted #ccc;  margin-bottom: 15px;}
em{color:red;}

span.compleReview{color:green;}
span.pandingReview{color:red;}
span.pandingReviewDoctor{color:#FA660F;}
.chead{width:28%;padding: 4px 10px;}
.cheadFirst{width:15%}
.cheadLast{width:25%;padding-left:0px;}

.cMainFirst{width:15%!important; }
.cMain{width:28%;margin:0px!important; padding: 4px 10px;}
.lManage{margin:0px!important; padding: 4px 10px; word-wrap: break-word; width:20%;}

.cManage{margin:0px!important; padding: 4px 10px; word-wrap: break-word; width:17%;}
.locManage{margin:0px!important; padding: 4px 10px; word-wrap: break-word; }
.cName{width:14%;}
.widthAuto{width:auto;}
.widthAutoHeding{width:auto; padding:5px 1px 1px 8px;}
.widthLast{width:auto;}


/*****Use css for  adminentry.php page****/
.adhead{width:25%;padding: 4px 10px;}
.adhead a{color:#11719F;}
.adhead a:hover{color:#11719F; text-decoration:underline;}
.manageDetail{width:8%; text-align:right;padding-top:8px;margin:0px;}
.manageHed{font-weight:bold;}
.span6detail{width:20%;float:left;padding:6px 6px 3px 38px;}
#horizontalTab .span6{width:40%!important;}

/*#horizontalTab .text-input-field{width:35%;}*/
#horizontalTab .editMng{width:10%!important; font-weight:bold;}
.mmlable {margin:15px 0px 0px 0px !important;}

.boxx{float: left;
    padding: 6px 0;
    position: relative;
    width: 100%;}
    
   .remove_this.btn.btn-danger {position: absolute;
    
    background:url("../images/closebox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: -24px;
    top: -6px;
    width:30px;
    height:30px;
    }
    .remove_wave,.remove_spot,.btn.btn-danger {position: absolute;
    
    background:url("../images/closebox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: -24px;
    top: -6px;
    width:30px;
    height:30px;
    }
    
    
    .remove_flunce.btn.btn-danger {position: absolute;
    
    background:url("../images/closebox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right:391px;
    top: 117px;
    width:30px;
    height:30px;
    }
    
  .remove_img.btn.btn-danger {position: absolute;    
		background:url("../images/closebox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		
		right:-11px;
		top:-9px;
		width:30px;
		height:30px;
    }
    .flclass.text-input-field{padding:5px 1px;}
    
   .mngdevices{float:left;padding-top:32px;} 
  .span3.editMng {
    margin: 0;
    padding-top: 5px;
    width: 10%;
}
.span3.clinteditMng{margin: 0; padding-top: 5px;  width:7%;}

.span3.editclent{ margin: 0;  padding-top: 5px;  width: 18%; text-align:center;} 
.empHead{width:70%; float:left;}

.addNew {float:left;  text-align:right; padding-top: 9px; width:30%;}
.addNew a{color:#11719F; font-weight:bold; }

.empHeadReport{width:64%; float:left;}
.addNewReport{float:left;  text-align:right; padding-top: 9px; width:18%;}
.addNewReport a{color:#11719F; font-weight:bold; }

.heading-container{border-bottom:1px dotted #666666; width:100%;float:left; margin-bottom:30px;}
.heading-container h1.heading{border:none;margin:0px;}  
.mngdevicesName {padding-top:20px;float:left;}  
.officeLocation {width:24%;}
a.changepwd{color:#ffffff!important;}
#successUpdate{float:right;color:green;padding-top:15px;}

/*****  Sorting Hearde***/
.sortingHead{
/*	background:-moz-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));*/
background: #f8f8f8; /* Old browsers */
background: -moz-linear-gradient(top,  #f8f8f8 0%, #cfcfcf 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8),color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#cfcfcf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#cfcfcf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8f8f8 0%,#cfcfcf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}
.sortingHead a{color:#202020!important;}
.srtHeadBorder{border-right: 1px solid #fff;font-size: 14px;width: auto;margin:0px auto;padding:11px 5px 9px 10px}
.srtcontent{padding:10px 0px 2px 5px;}

.srtHead{width:17%;margin:0px !important;word-wrap: break-word;}
.srtHeadloc{width:22%;word-wrap: break-word; margin:0px !important;}
.srtHeadEdit{width:13%;margin:0px !important; word-wrap: break-word;}
.srtHeadEditEmp{width:7%;margin:0px !important; word-wrap: break-word;}
.text-align{text-align:center;}
.alignJustify{ text-align: justify;}


/******* Client search****/
/******* Client search****/


	#searchid
	{
		float:none!important;
	}
	#resultClientSerch
	{
		position:absolute;
		width:373px;
		/*padding:10px;*/
		display:none;
		margin-top:-1px;
		border-top:0px;
		overflow:hidden;
		border:1px #CCC solid;
		background-color: white;
	}
	.show
	{
		padding:10px; 
		border-bottom:1px #999 dashed;
		font-size:14px; 
		/*height:50px;*/
	}
	.show a
	{
		color:#202020;
		/*height:50px;*/
	}
	
	.show:hover
	{
		background:#B6C6D7;
		color:#FFF;
		cursor:pointer;
	}
	.show a:hover
	{
		
		color:#FFF;
		cursor:pointer;
	}
	
	/*******Pagination **/
	div.pagination {
     float: right;
    margin: 32px 0 0;
    padding: 3px;
    text-align: right;
    width: 100%;
}
 
div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #ccc;
   
    text-decoration: none; /* no underline */
    color: #202020;
}
div.pagination a:hover, div.pagination a:active {
    border: 1px solid #ccc;
 
    color: #000;
}
div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
        border: 1px solid #ccc;
       
        font-weight: bold;
        background-color: #ccc;
        color: #FFF;
    }
    div.pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #EEE;
   
        color: #DDD;
    }
   
.csvDiv{ padding:1px 2px 10px;text-align:right;}
.csvDiv span a{padding:1px 2px; color:#fff;}


/**** Client report pegination */
#wrapperClientPage{border: 1px solid #BBBBBB;
    float: left;
    margin-top: 11px;
    padding: 14px 9px 14px 4px;
    text-align: center;
    width: 98%;}
#wrapperClientPage ul{list-style:none;  float: right;}
#wrapperClientPage ul li a{text-decoration:none; border:1px solid #474747; padding:0 2px; color:#474747;}
#wrapperClientPage ul li{float:left; margin-left:10px;}

/**** End  Client report pegination */

.space{padding:7px;}
.currentLogin {background:#17719f;}
.currentLogin label{color:#ffffff!important;}
.clientReport label{cursor:pointer;}

