@media screen and (min-width:783px) {
    .admin-bar .navbar-fixed-top {top:32px;}
}
@media screen and (min-width:600px) and (max-width:782px){
    .admin-bar .navbar-fixed-top {top:46px;}
}
.cth-single img {
  max-width: 100%;
  height: auto;
}
.cth-pagecontent img {
  max-width: 100%;
  height: auto;
}
.meminz_main-nav > li.current-menu-parent > a,
.meminz_main-nav > .open > a.dropdown-toggle,
.meminz_main-nav > .open > a.dropdown-toggle:hover,
.meminz_main-nav > .open > a.dropdown-toggle:focus {
  background-color: #2e2e2e !important;
  /*color: #f55e25;
  border-color: #f55e25;*/
}
.meminz_main-nav ul.dropdown-menu {
  padding: 0;
}
.meminz_main-nav ul.dropdown-menu > li {
  background-color: #2e2e2e;
  padding: 0;
}
.meminz_main-nav ul.dropdown-menu > li > a {
  padding: 15px;
}
.meminz_main-nav ul.dropdown-menu > li > a:hover,
.meminz_main-nav ul.dropdown-menu > li > a:focus{
  background-color: transparent;
}
.meminz_main-nav ul.dropdown-menu > li.active > a {
  background-color: transparent;
}
h3.comment-reply-title {
    font-size: 24px;
    line-height: 30px;
    margin-left: 15px;
    /*float: right;*/
}
#regpreloader,
#logpreloader {
    display: none;
}
.alert-box {
    color: #DA9221;
}
.modal-open {
  overflow: hidden;
}
#loginAjaxModal.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10501;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
#loginAjaxModal.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
#loginAjaxModal.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
#loginAjaxModal .modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
#loginAjaxModal .modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
/*.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}*/
/*.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}*/
#loginAjaxModal .modal-body {
  position: relative;
  padding: 0px;
}
/*.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}*/
@media (min-width: 768px) {
  #loginAjaxModal .modal-dialog {
    width: 420px;
    margin: 50px auto;
  }
  #loginAjaxModal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
/*#loginAjaxModal .modal-dialog {
    margin: 0 !important;
    max-width: 100% !important;
}*/
.row.row_fullwidth {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row.row_fullwidth > .wpb_column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.widget_nav_menu > div > ul,
.widget_rss > ul,
.widget_recent_comments > ul,
.widget_recent_entries > ul,
.widget_meta > ul,
.widget_archive > ul,
.widget_pages > ul,
.widget_categories > ul,
.tag{
	margin:0;
	padding:0;
}
.widget_nav_menu > div > ul li,
.widget_rss > ul li,
.widget_recent_comments > ul li,
.widget_recent_entries > ul li,
.widget_meta > ul li,
.widget_archive > ul li,
.widget_pages > ul li,
.widget_categories > ul li{
  display: block;
}
.widget_nav_menu > div > ul li a,
.widget_rss > ul li a,
.widget_recent_comments > ul li a,
.widget_recent_entries > ul li a,
.widget_meta > ul li a,
.widget_archive > ul li a,
.widget_pages > ul li a,
.widget_categories > ul li a{
	display:inline-block;
	color:#555555;
	padding:5px 0 5px 0;
}
/*.widget_archive > ul li i,
.widget_pages > ul li i,
.widget_categories > ul li i{
	margin-right:5px;
}*/
.widget_nav_menu > div > ul li a:before,
.widget_rss > ul li a:before,
.widget_recent_comments > ul li span > a:before,
.widget_recent_entries > ul li a:before,
.widget_meta > ul li a:before,
.widget_archive > ul li a:before,
.widget_pages > ul li a:before,
.widget_categories > ul li a:before{
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
	margin-left:5px;
	content: "\e684";
}
/*.widget_categories > ul li a ul:before {
  display: block;
  content: "";
}*/
.wpt_widget_content {
	border: none !important;
}
.wpt-tabs {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}
.wpt-tabs > li {
    position: relative !important;
    display: block !important;
}
.wpt-tabs > li > a {
    position: relative !important;
    display: block !important;
    padding: 10px 15px !important;
}
.wpt-tabs > li > a:hover,
.wpt-tabs > li > a:focus {
    text-decoration: none !important;
    background-color: #eee !important;
}
.wpt-tabs {
  border-bottom: 1px solid #ddd !important;
  height: 42px !important;
}
.wpt-tabs > li {
  float: left !important;
  margin-bottom: -1px !important;
}
.wpt-tabs > li > a {
  margin-right: 2px !important;
  line-height: 1.42857143 !important;
  border: 1px solid transparent !important;
  border-radius: 4px 4px 0 0 !important;
  background: none !important;
  font-weight: normal !important;
}
.wpt-tabs > li > a:hover {
  border-color: #eee #eee #ddd !important;
}
.wpt-tabs > li.selected > a,
.wpt-tabs > li.selected > a:hover,
.wpt-tabs > li.selected > a:focus {
  color: #555 !important;
  cursor: default !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  border-bottom-color: transparent !important;
}
.wpt_widget_content .tab-content ul {
	padding-left: 0 !important;
}
.wpt_widget_content .tab-content li {
	padding-left: 0 !important;
}
.tagcloud > a {
	margin:0;
	padding:0;
	list-style:none;
	margin:0;
	padding:0;
	color:#626262;
	float:left;
	padding:0;
	border-radius:2px;
	margin:5px 10px 5px 0;
	border:1px solid;
	border-color:#dddddd;
	display:inline-block;
	padding:4px 15px;
	color:#555555;
	text-decoration:none;
	font-size: 14px !important;
}
#commentform textarea{
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-submit{
	padding-left: 15px;
}
#meminz_submit {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#meminz_submit:focus,
#meminz_submit:active:focus,
#meminz_submit.active:focus,
#meminz_submit.focus,
#meminz_submit:active.focus,
#meminz_submit.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#meminz_submit:hover,
#meminz_submit:focus,
#meminz_submit.focus {
  /*color: #333;*/
  text-decoration: none;
}
#meminz_submit:active,
#meminz_submit.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#meminz_submit.disabled,
#meminz_submit[disabled],
fieldset[disabled] #meminz_submit {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
#meminz_submit, #meminz_submit:hover, #meminz_submit:focus, #meminz_submit:active, #meminz_submit.active{
    color: #FFF;
}
#meminz_submit:hover{
	opacity:0.9;
}
.comment-main > .media:last-child{
	border-bottom: none;
}
.author-avatar.pull-left {
	margin-left: 0;
}


.subscribe-form img.ajax-loader {
  display: none;
}
.input-group .form-control{
  font-weight: 400;
}
.sidebar-left > aside{
  padding:0 30px 0 0 ;
  border-right:1px solid #eaeaea;
  border-left: none;
}
.fourohfour{
  text-align: center;
}
.error404 #inner-page {
    padding-top: 143px;
}
.search-form  button{
  border-width: 2px;
}
.error404 > footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
/*======*/
.styleSlider .flex-viewport,
.styleSlider .flex-control-nav{
  padding-bottom: 30px;
}
.flex-nonav .flex-control-nav,
.styleSlider .flex-control-nav {
  display: none;
}
.styleSlider .flex-direction-nav .flex-prev,
.flex-nonav .flex-direction-nav .flex-prev {
  left: 0;
  border-radius: 0;
  width: 30px;
  background-position: 10px center;
}
.styleSlider .flex-direction-nav .flex-next,
.flex-nonav .flex-direction-nav .flex-next {
  right: 0;
  border-radius: 0;
  width: 30px;
  background-position: 10px center;
}
.edd-cart-meta.edd_subtotal, .edd-cart-meta.edd_total {background-color: transparent;padding-left: 0px;}
.counter-ele{background-image: none !important;background-color: transparent;}
@media (min-width: 992px){
  .flex-nonav .flex-direction-nav {
      display: none;
      /*margin-top: -30px;*/
  }
  .flex-nonav:hover .flex-direction-nav {
    display: block;
  }
}
.home-wrapper .edd_download_purchase_form {display: inline-block;}
.wpcf7-captchar {color:#444;}
.flexslider .slides img, .imac-device .slides img  {height: auto;}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 736px) {
  ul.listForm li {width:100%;}
  input {max-width: 100%;}
  .subscribe-button {position: relative;border-radius: 40px;}
  .subscribe-form {background-color: transparent;}
}